body{
    font-family: Roboto, sans-serif;
}

header .section-title {
    font-family: "Lobster", sans-serif;
    font-weight: 500;
    font-style: normal;
}  

.navbar{
    background-color: #3d3d88;
}

#cabecalho .nav .nav-link.active{
    background-color: #7575c2;
    color: #fff;
}

#cabecalho .nav .nav-link, 
.navbar-brand,
.navbar-brand:hover, 
.nav-menu .nav-link.active:hover{
    color: #fff;
}

.navbar-toggler{
    background-color: #7575c2;
}

.section-title{
    font-family: cursive;
}

#sobre-o-site, #jogos{
    background-color: #aac9dd;

}

.text-colored{
    color: #0e0863;
}

.text-coloredE{
    color: rgb(0, 0, 0);
    font-style: italic;
}

.nav-menu .nav-link.active,
#fale-conosco button{
    background-color: #4c41e1;
    color: #fff;
}

.nav-menu .nav-link:hover{
    color: #4c41e1;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}

.nav-pills {
    text-align: center;
}

.shadow-scroll {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.1s ease-in-out;
}



